@import url('//fonts.googleapis.com/css?family=Droid+Sans:400,700');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,600');

html, body {
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}

header > .container {
  background-color: #337ab7;
  color: white;
  margin-bottom: 1em;
}
header h1 {
  font-family: 'Droid Sans', helvetica, arial, sans-serif;
}

footer {
  color: #adadad;
  font-size: .75em;
  padding: 1em 0;
}

.form-control.form-control-narrow {
  width: 80px;
}

.space-horizontal {
  margin-left: 1em;
  margin-right: 1em;
}

.no-data {
  color: maroon;
  position: absolute;
}

table > tbody > tr > td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}